* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

.CompletedEventsComponent {
    height: fit-content;
    width: 100%;
}

.CompletedEventsContainer {
    height: fit-content;
    width: 100%;
}

.CompletedEventsContainer-in {
    height: 100vh;
    width: 100%;
}

.Events-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.Events-clubs {
    border: 1px solid grey;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    border-radius: 50px;
}


.ec-name {
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    
}


.Event-initial {
    border: 1px solid black;
    width: 90%; 
    margin: auto;
    border-radius: 30px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Event-Calendar {
    border: 1px solid grey;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0.5rem;
    border-radius: 50px;
}

.mn-ev-cm {
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
}

.Calendar-hide {
    display: none;
}

.Event-name-hide {
    display: none;
}

.Event-hide {
    display: none;
}

.tech-hide {
    display: none;
}

.Posters-hide {
    display: none;
}

.Event-name-box{
    padding: 1rem 0rem; 
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.Event-name-tech, .Event-name-liberal, .Event-name-outreach, .Event-name-startup  {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.ec-name:hover {
    background-color: rgb(238, 221, 221);
    color: black; 
    cursor: pointer;
    border-radius: 30px;
    font-weight: 400;
}

.Event-m-hover {
    cursor: pointer;
    border: 1px solid black;
    padding: .5rem 1rem;
    border-radius: 30px;
    font-weight: 400;
    background-color: black;
    color: white;
}

#Event-m-hovers {
    cursor: pointer;
    border: 1px solid black;
    padding: .5rem 1rem;
    border-radius: 30px;
    font-weight: 400;
    background-color: black;
    color: white;
}

#Event-hover {
    cursor: pointer;
    /* background-color: rgb(151, 0, 3); */
    background-color: black;
    color: white;
    border-radius: 30px;
    font-weight: 400;
}

.tech-cm-mn-ev {
    height: fit-content;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 0rem;

}
.tech-cm-mn-ev h1 {
    margin: 2rem 0rem;
    width: 100%;
    text-align: left;
    font-size: 2.5rem;
}

.liberal-cm-mn-ev {
    height: fit-content;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.startup-cm-mn-ev {
    height: 50vh;
    width: 90%;
    margin: auto;
    border: 2px solid black;
}

.Ino-cm-mn-ev {
    height: 50vh;
    width: 90%;
    margin: auto;
    border: 2px solid black;
}

.cm-event-box {
    height: 40vh;
    width: 23%;
    border: .1px solid grey;
    border-radius: 20px;
}

.Events-table {
    width: 100%;
}

.Events-table table {
    width: 100%;
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
}
.Events-table table tr th {
    border: 1px solid grey;
    padding: 0.5rem 0rem;
    /* background-color: rgb(151, 0, 3); */
    background-color: black;
    color: white;
    text-align: center;
}
.Events-table table tr td {
    border: 1px solid grey;
    padding: 0.5rem 0rem;
    text-align: center;
}
.Events-table table tr td:nth-child(1) {
    /* background-color:rgb(151, 0, 3); */
    background-color: black;
    color: white;
    width: 5%;
    text-align: center;
}
.Events-table table tr td:nth-child(2) {
    width: 30%;
}
.Events-table table tr td:nth-child(3) {
    width: 12%;
}
.Events-table table tr td:nth-child(4) {
    width: 10%;
}
.Events-table table tr td:nth-child(5) {
    width: 15%;
}
.Events-table table tr td:nth-child(6) {
    width: 15%;
}
.Events-table table tr td:nth-child(7) {
    width: 13%;
}



/* technical clubs start here  */

.Event-tech-clubs {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.Event-tech-clubs-ec {
    width: 90%;
    margin: auto;
}
.event-data-month {
    padding: 2rem;
}

.Event-tech-clubs-in {
    width: 90%;
    margin: auto;
    border: 2px solid black;
    height: 50vh;
    border-radius: 2rem;
}