client/.idea/
client/.vscode/
client/node_modules/
client/build
client/src/Assets 
client/.DS_Store
client/*.tgz
client/my-app*
client/template/src/__tests__/__snapshots__/
client/lerna-debug.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.changelog
client/.npm/
client/yarn.lock

server/.idea/
server/.vscode/
server/node_modules/
server/build
server/.DS_Store
server/*.tgz
server/my-app*
server/template/src/__tests__/__snapshots__/
server/lerna-debug.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/.changelog
server/.npm/
server/yarn.lock

