
.SILContainer {
    padding: 4rem 0rem 2rem 0rem;
}
.sil-header-in {
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 3rem 0rem;
}
.sil-header-in h1 {
    font-size: 5rem;
    width: 83%;
    line-height: 6rem;
}
.sil-header-in p {
    font-size: 1.5rem;
    width: 90%;
    line-height: 2rem;
    margin-top: 1rem;
    color: rgb(151, 0, 3);
    margin-top: 2rem;
}
.silactivities-in {
    width: 90%;
    margin: auto;
    padding: 1rem 0rem;
}
.silactivities-in table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.silactivities-in table th {
    background-color: rgb(151, 0, 3);
    color: white;
}

.silactivities-in table tbody tr td {
    border: 1px solid grey;
}

.silactivities-in table tbody tr td:nth-child(1) {
    background-color: rgb(151, 0, 3);
    color: white;
}


.silactivities-in table tbody tr td:nth-child(2) {
    text-align: left;
    padding-left: 1rem;
}

.silactivities-in table tbody tr td {
    font-size: 1rem;
}

.silactivities-in-header {
    text-align: left;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
}
.silactivities-in-header h1 {
    font-size: 1.5rem;
}

.openAndCloseBtn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0.2rem;
    margin-left: 1rem;
}

.silactivities-in-header-two {
    margin-top: 2rem;
}

.silactivities-in-header-two thead tr th:nth-child(1) {
    background-color: rgb(151, 0, 3);
    width: 3%;
}
.silactivities-in-header-two thead tr th:nth-child(2) {
    background-color: rgb(151, 0, 3);
    width: 20%;
}
.silactivities-in-header-two thead tr th:nth-child(3) {
    background-color: rgb(151, 0, 3);
    width: 15%;
}
.silactivities-in-header-two thead tr th:nth-child(4) {
    background-color: rgb(151, 0, 3);
    width: 30%;
}
.silactivities-in-header-two thead tr th:nth-child(5) {
    background-color: rgb(151, 0, 3);
    width: 32%;
}

.silactivities-in-header-two thead tr th:nth-child(6) {
    background-color: black;
    width: 32%;
}




.silactivities-in-header-two table tbody tr td {
    text-align: center;
}

.silactivities-in-header-two table tbody tr td:nth-child(5) {
    text-align: left;
}

.viewdesc {
    font-size: 1rem;
    color: rgb(151, 0, 3);
    cursor: pointer;
    margin: 0.2rem;
    border: 0.1rem solid rgb(151, 0, 3);
    padding: 0.2rem 0.5rem;
}








.silactivities-in table thead tr th:nth-child(1) {
    background-color: rgb(151, 0, 3);
    width: 3%;
}

.silactivities-in table thead tr th:nth-child(2) {
    background-color: rgb(151, 0, 3);
    width: 25%;
}

.silactivities-in table thead tr th:nth-child(3) {
    background-color: rgb(151, 0, 3);
    width: 15%;
}

.silactivities-in table thead tr th:nth-child(4) {
    background-color: rgb(151, 0, 3);
    width: 13%;
}

.silactivities-in table thead tr th:nth-child(5) {
    background-color: rgb(151, 0, 3);
    width: 14%;
}

.silactivities-in table thead tr th:nth-child(6) {
    background-color: rgb(151, 0, 3);
    width: 10%;
}
.silactivities-in table thead tr th:nth-child(7) {
    background-color: rgb(151, 0, 3);
    width: 20%;
}

