.overviewComponentTwo {
    width: 100%;
    padding-bottom: 30px;
}
.overviewComponentTwo-container {
    width: 90%;
    margin: auto; 
}

.overviewComponentTwo-header {
    padding: 20px 10px 20px 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 10px 0px 10px 0px;
}
.overviewComponentTwo-header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overviewComponentTwo-header-in h1 {
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}