
.ErpSideBarComponent {
    display: flex;
    height: 85vh;
    /* background-color: #090D2B; */
    background-color: white;
    width: 20%;
    overflow: scroll;

}
.ErpSideBarComponent .routes {
    /* background-color: #090D2B; */
    width: 100%;
    border: 2px solid black;
    height: fit-content;
    padding: 2px;
}

.ErpSideBarComponent #mainicon {
    float: left;
}
.ErpSideBarComponent .whole i {
    display: inline;
    float: right;
    margin-right: 10px;
    color: white;
}
.ErpSideBarComponent .whole:hover i {
    transform: rotate(360deg);
    color:bisque;
}

.ErpSideBarComponent .link_text {
    display: inline;
}
.ErpSideBarComponent .link {
    text-decoration: none;
    color: white;
    background-color:black;
    padding: 9px 0px 9px 20px;
    display: inline-block;
    width: 93%;
    border-bottom: 1px solid white;
    font-size: 15px;
    /* background-color: #185ae2; */
    text-align: left;
}

.ErpSideBarComponent .link:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
    transform: translateX(5px);
    font-weight: 500;

    
}
