* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clubs .clubs-nav {
    width: 100%;
}


.clubs .clubs-nav-in {
    display: flex;
    border-bottom: 1px solid red;
    position: fixed;
    backdrop-filter: blur(10px);
    font-weight: 600;
}

.clubs .clubs-nav-in-one {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clubs .clubs-nav-in-two {
    width: 70%;
    display: flex;
}

.clubs .clubs-nav-in-two ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.clubs .clubs-nav-in-one img {
    width: 40%;
}


/* ----------------------------------Hero-------------------------------------------- */

.clubs .clubs-body {
    margin-top: 10vh;
    height: 90vh;
}

.clubs .club-body-in {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: center;
    gap: 10px;
}

.clubs .club-in-head {
    font-size: 3rem;
    font-weight: 600;
}


.clubs .club-body-in-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clubs .club-body-in-two-in {
    width: 80%;
}

.clubs .club-body-in-two-in p {
    font-size: 1rem;
    font-weight: 600;
}

.clubs .club-body-in-two-in span {
    color: rgb(25, 111, 245);
}

.clubs .club-body-in-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.clubs .club-body-in-three button {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}





/* ----------------------------------Body-------------------------------------------- */


.clubs .clubs-body {
    height: 100vh;
}

.clubs .clubs-body-in {
    height: fit-content;
}

.clubs .club-what-do-in {
    height: max-content;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 600;
}

.clubs .club-what-do-in-one  {
    text-align: center;
}

.clubs .club-what-do-in-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clubs .club-what-do-box {
    height: 6vw;
    width: 25%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.clubs .club-what-do-in-three {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clubs .icons-react {
    height: 2rem;
    width: 2rem;
}

.clubs .club-what-do-box-one {
    border: 2px solid blue;
}


/* ----------------------------------Glimpse-------------------------------------------- */

.clubs .clubs-Glimpse-in {
    height: max-content;
    display: flex;
    flex-direction: column;
}

.clubs .clubs-Glimpse-in-one {
    text-align: center;
    padding: 30px;
}

.clubs .clubs-Glimpse-in-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clubs .clubs-Glimpse-in-three {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clubs .clubs-Glimpse-in-four {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clubs .clubs-Glimpse-img-box{
    height: fit-content;
    width: 31%;
}

.clubs .clubs-Glimpse-img-box img {
    height: 50%;
    width: 100%;
    border-radius: 20px;
}

.clubs-Glimpse-in-.clubs three .clubs-Glimpse-img-box {
    height: fit-content;
    width: 20%;
}

/* ----------------------------------Team-------------------------------------------- */


.clubs .clubs-team-in {
    height: max-content;
    padding: 50px 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.clubs .clubs-team-in-one {
    text-align: center;
    padding: 50px;
}

.clubs .clubs-team-in-two {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.clubs .clubs-team-in-three {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.clubs .member-box {
    width: 20%;
    height: 100%;
    border-radius: 20px;
}

.clubs .member-box img {
    height: 15vw;
    width: 80%;
    border-radius: 20px;
}


/* ----------------------------------Activity-------------------------------------------- */

.clubs .club-activity-component {
    height: max-content;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clubs .clubs-Activities {
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 30px 0;
}

.clubs .clubs-Activities-in {
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clubs .clubs-Activities-in-one {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clubs .clubs-Activities-in-two {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8%;
    align-items: center;
}

.clubs .Activity-box-one {
    height: 15%;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clubs .activity-content-one {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.clubs .activity-hide {
    display: none;
}

#one-color {
    background-color: rgb(210, 41, 168);
}

#two-color {
    background-color: yellow;
}

#three-color {
    background-color: rgb(41, 210, 41);
}

#four-color {
    background-color: rgb(41, 210, 210);
}

#activity-content-hover {
    background-color: rgb(165, 161, 161);
}