* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clubpage-nav-component {
    width: 100%;
}

.clubpage-nav-component-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    background-color: transparent;
    position: relative;
}

.nav-logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 40%;
}

.nav-know-more {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}

.nav-know-more button {
    padding: 10px 20px;
}