* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clubs-nav {
    width: 100%;
}


.clubs-nav-in {
    display: flex;
    border-bottom: 1px solid black;
    position: fixed;
    backdrop-filter: blur(10px);
}

.clubs-nav-in-one {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clubs-nav-in-two {
    width: 70%;
    display: flex;
}

.clubs-nav-in-two ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.clubs-nav-in-one img {
    width: 40%;
}

/* ----------------------------------Body-------------------------------------------- */


.clubs-body {
    height: 100vh;
    border: 2px solid blue;
}

.clubs-body-in {
    height: fit-content;
}

.club-what-do-in {
    height: max-content;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.club-what-do-in-one  {
    text-align: center;
}

.club-what-do-in-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.club-what-do-box {
    height: 6vw;
    width: 25%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}

.club-what-do-in-three {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons-react {
    height: 2rem;
    width: 2rem;
}

.club-what-do-box-one {
    border: 2px solid blue;
}


/* ----------------------------------Glimpse-------------------------------------------- */

.clubs-Glimpse-in {
    height: max-content;
    display: flex;
    flex-direction: column;
}

.clubs-Glimpse-in-one {
    text-align: center;
    padding: 30px;
}

.clubs-Glimpse-in-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clubs-Glimpse-in-three {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clubs-Glimpse-in-four {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clubs-Glimpse-img-box{
   height: fit-content;
   width: 40%;
}

.clubs-Glimpse-img-box img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.clubs-Glimpse-in-three .clubs-Glimpse-img-box {
    height: fit-content;
    width: 26%;
}

/* ----------------------------------Team-------------------------------------------- */


.clubs-team-in {
    height: max-content;
    padding: 50px 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.clubs-team-in-one {
    text-align: center;
    padding: 50px;
}

.clubs-team-in-two {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.clubs-team-in-three {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.member-box {
    width: 20%;
    height: 100%;
    border-radius: 20px;
}

.member-box img {
    height: 15vw;
    width: 80%;
    border-radius: 20px;
}


/* ----------------------------------Activity-------------------------------------------- */

.club-activity-component {
    height: max-content;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clubs-Activities {
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 30px 0;
}

.clubs-Activities-in {
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clubs-Activities-in-one {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clubs-Activities-in-two {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8%;
    align-items: center;
}

.Activity-box-one {
    height: 15%;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-content-one {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.activity-hide {
    display: none;
}

#one-color {
    background-color: rgb(210, 41, 168);
}

#two-color {
    background-color: yellow;
}

#three-color {
    background-color: rgb(41, 210, 41);
}

#four-color {
    background-color: rgb(41, 210, 210);
}

#activity-content-hover {
    background-color: rgb(165, 161, 161);
}