.clubs-nav {
    width: 100%;
}
.clubs-nav-in {
    display: flex;
    border: 1px solid black;
}
.clubs-nav-in-one {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clubs-nav-in-two {
    width: 70%;
    display: flex;
}

.clubs-nav-in-two ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.clubs-nav-in-one img {
    width: 40%;
}

.clubs-body {
    height: 100vh;
    border: 2px solid blue;
}

.clubs-activites {
    height: 100vh;
    border: 2px solid red;
}

.clubs-team {
    height: 100vh;
    border: 2px solid green;
}