@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clubPagesContainer {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 5vh;
}
.clubsPages-one {
    width: 30%;
    background-color: white;
    position: sticky;
    padding-top: 1rem;
    height: 100vh;
    overflow-y: scroll;
}
.clubsPage-one-in {
    width: 90%;
    margin: auto;
    padding-top: 3vh;
}
.clubsPage-one-in-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.clubsPage-one-in-two-in {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.clubsPage-one-in-two-in {
    margin-top: 1rem;
}
.clubsPage-scroll-links {
    color: black;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgb(151, 0, 3);
    padding: 0.5rem;
    background-color: rgb(151, 0, 3);
    color: white;
    margin-bottom: 0.3rem;
    border-top-right-radius: 1rem;
}
.clubsPage-two {
    width: 70%;
    /* margin-left: 30%; */
    height: 100vh;
    overflow-y: scroll;
    border-left: 2px solid rgb(133, 131, 131);
}

.ct-in-one-header {
    padding: 1rem 0rem;
}

.ctiooi-comps {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
    min-width: 25%;
}

.ctiooi-comps-in-one  {
    width: 100%;
}

.ctiooi-comps-in-one img {
    width: 100%;
}
.ct-in-one-one-in {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    row-gap: 2rem;
    width: 95%;
    margin: auto;
    padding: 1rem 1rem;
    overflow-x: scroll;
    column-gap: 20px;
}

.ctiooi-comps-in-two h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;
    min-height: 8vh;
    height: fit-content;
}

.ctooi-comps-in-two-two {
    border: 1px solid black;
    padding: 0.3rem 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.ctooi-comps-two-link {
    text-decoration: none;
}

.clubsPage-one-in-three {
    margin-top: 1rem;
}
.clubsPage-one-in-three-in {
    height: fit-content;
}
.clubsPage-oiti-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding-left: 1rem;
}
.clubsPage-oiti-header h1 {
    font-size: 1.3rem;
    color: white;
}
.clubsPage-oiti-one {
    background-color: rgb(151, 0, 3);
}
.clubsPage-oiti-one-in ul {
    margin-top: 0.5rem;
    color: white;
}
.clubsPage-oiti-one-in {
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 0rem 0.2rem;
}