@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.HomeComponent {
    font-family: 'Poppins', sans-serif;
}

.nav {
    width: 100%;
    position: fixed;
    z-index: 2;
}
.nav-in {
    display: flex;
}
.nav-in-one {
    width: 80%;
}
.nav-in-two {
    width: 30%;
}
.logoini {
    width: 40%;
}
.logoaft {
    width: 30%;
}
.nav-in-two-in {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-two-in h1 {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.nav-in-two {
    display: flex;
    align-items: center;
    justify-content: center;
}
.homelink {
    text-decoration: none;
    color: white;
}
.nav-in-one-in {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.nav-in-one-in ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem 0rem;
}
.nav-in-one-in ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;

}
.nav-links {
    color: white;
    text-decoration: none;
}
.nav-scroll-links {
    color: white;
}

.notification-diag {
    background-color: white;
    border: 2px solid rgb(208, 207, 207);
    border-radius: 0.5rem;
    margin-top: 1rem;

}
.notification-diag-in {
    padding: 0.5rem 1rem;
}


.scrolled {
    background-color: rgb(151, 0, 3); 
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.scrolled ul {
    padding: 0.5rem 0rem;
    transition: padding 0.2s ease; 
}
.Home-one-in {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Home-one-in::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}


.Home-one-in video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.explore-sac {
    position: absolute;
    bottom: 0;
    padding: 0.3rem 0rem;
    font-size: 1.3rem;
    background-color: rgb(151, 0, 3);
    color: white;
    width: 100%;
}
.explore-sac-scroll {
    color: white;
}
  
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  
  .centered-text h1 {
    font-size: 4rem;
    color: white; 
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
  }
  .centered-text p {
    font-size: 1.5rem;
    color: white;
    text-shadow: rgb(0, 0, 0) 5px 0 10px;
  }

  



.noname {
    background-image: url(../../Assets/GroupPhoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 60px 0px 60px 0px;
    overflow: hidden;
    height: 95vh;
}
.noname-text {
    width: 100%;

}
.noname-text h1 {
    color: white;
    font-size: 80px;
    text-align:right;
    text-shadow: 0.1em -0.1em 0.2em #000000; 
    width: 40%;
    float: right;
    margin-right: 100px;
}
.noname-image {
    width: 0%;
}
.noname-image img {
    width: 100%;
}


.HomeComponent .noname {
    background-image: url('../../Assets/GroupPhoto.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 60px 0px 60px 0px;
}

.HomeComponent .noname-text {
    width: 100%;
}
.HomeComponent .noname-text h1 {
    color: white;
    font-size: 80px;
    text-align: right;
    text-shadow: 0.1em -0.1em 0.2em #000000; 
    margin-left: 10%;
}
.HomeComponent .noname-image {
    width: 0%;
}
.HomeComponent .noname-image img {
    width: 100%;
}



.projects {
    padding: 4rem 0rem 0rem 0rem;
}

.projects-in-header-in h1 {
    font-size: 3rem;
}
.projects-in-header-in p {
    font-size: 1.6rem;
    width: 70%;
    margin: auto;
    color: rgb(151, 0, 3);
}
.projects-one {
    padding: 3rem 0rem;
}
.projects-one-in {
    display: flex;   
    justify-content: space-between;
}
.projects-comps {
    width: 23.5%;
}

.projects-comps-one {
    height: fit-content;
    width: 100%;
}
.projects-comps-one img {
    width: 100%;
}

.projects-comps-two {
    display: flex;
    flex-direction: column;
}

.projects-comps-two h2 {
    text-align: left;
}

.projects-comps-two p {
    text-align: left;
}

.projects-comps-two-links {
    text-align: left;
    text-decoration: none;
    color: rgb(151, 0, 3);
    padding-top: 0.5rem;
}
.projects-in {
    width: 90%;
    margin: auto;
}

.explore-departments {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding: 0rem 0rem 3rem 0rem;
}

.projects-link {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    background-color: rgb(151, 0, 3);
    color: white;
}

















.HomeComponent .upcoming-heading {
    background-color: rgb(151, 0, 3);
    height: 40vh; 
    display: flex;

    align-items: center;
    display: flex;
}
.HomeComponent .upcoming-heading-one {
    width: 50%;
}
.HomeComponent .upcoming-heading-two {
    width: 50%;
}
.HomeComponent .upcoming-heading-two img {
    width: 50%;
}

.HomeComponent .upcoming-heading h1 {
  color: white;
  font-size: 50px;
  font-weight: 400;
  margin-left: 10%;
}

.HomeComponent .upcoming-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}







.upcoming-events {
    padding: 0rem 0rem 4rem 0rem;
}
.upcoming-events-header {
    width: 100%;
}
.upcoming-events-header-in {
    width: 90%;
    margin: auto;
}
.upcoming-events-header-in h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}
.upcoming-events-in {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem 0rem 0rem;
    display: flex;
    justify-content: space-between;
}


.ue-comps {
    width: 24%;
    position: relative;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ue-comps-in {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    flex: 1; 
    position: relative;
}

.ue-comps-in-one img {
    width: 100%;
    display: block;
    height: auto;
}
.ue-comps-in-two {
    padding: 2rem;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.ue-comps-in-two h2 {
    font-size: 1.6rem;
    color: rgb(151, 0, 3);
}
.ue-comps-in-two p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.registration-link-for-events {
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    border-radius: 0.2rem;
    padding: 0.3rem 0.7rem;
    background-color: white;
}

.ue-comps-in-two p:nth-child(3) {
    font-size: 1.2rem;
    color: rgb(151, 0, 3);
}

.explore-events {
    padding-top: 3rem;
    display: flex;
    width: 90%;
    margin: auto;
}
.explore-events-link {
    width: fit-content;
    border: 2px solid rgb(151, 0, 3);
    background-color: rgb(151, 0, 3);
    color: white;
    text-decoration: none;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}






.HomeComponent .events {
    padding-bottom: 100px;
    background-color: whitesmoke;
    padding-top: 30px;
}

.HomeComponent .events-heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
.HomeComponent .events-heading h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 60px;
    color: rgb(151, 0, 3);
}

.HomeComponent .events-inner {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 30px;
}
.HomeComponent .events-one {
   width: 50%;
}

.HomeComponent .events-one-one {
    position: relative;
    margin-bottom: 30px;
}

.HomeComponent .events-one-one-desc {
   margin-top: 10px;
   position: absolute;
   bottom: 0px;
   text-align: left;
   padding-left: 20px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
}

.HomeComponent .events-one-one img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.HomeComponent .events-one-two {
    width: 100%;
    display: flex;
}
.events-one-two-one {
   width: 50%;
    margin: 0px 15px 0px 0px;
}
.HomeComponent .events-one-two-one-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
}
.HomeComponent .events-one-two-one img{
    width: 100%;
}
.HomeComponent .events-one-two-two {
   width: 50%;
   margin: 0px 0px 0px 15px;
}
.HomeComponent .events-one-two-two img {
    width: 100%;
}

.HomeComponent .events-two-one {
    display: flex;
    margin-bottom: 30px;
}
.HomeComponent .events-two-one-one {
    width: 50%;
    margin: 0px 15px 0px 0px;
}
.HomeComponent .events-two-one-one img {
    width: 100%;
}
.HomeComponent .events-two-one-one-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
}
.HomeComponent .events-two-one-two {
    width: 50%;
    margin: 0px 0px 0px 15px;
}
.HomeComponent .events-two-one-two img {
    width: 100%;
}
.HomeComponent  .events-two-one-two-desc {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid white;
    padding: 10px;
}
.HomeComponent   .events-two-two {
    position: relative;
}
.HomeComponent  .events-two-two img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.HomeComponent  .events-two-two-desc {
   margin-top: 10px;
   position: absolute;
   bottom: 0px;
   text-align: left;
   padding-left: 20px;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    color: white;
} 


.HomeComponent  .about {
    padding: 5rem 0rem;
    opacity: 0.9;
    background-color: white;
}

.HomeComponent  .about-heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.3rem;
    margin-bottom: 1.5rem;
}


.HomeComponent  .about-heading h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(151, 0, 3);
    width: 80%;
    margin: auto;
}

.HomeComponent  .about-two {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.HomeComponent  .about-two-cmn {
    width: 30%;
}
.HomeComponent  .counter {
    font-size: 40px;
    font-weight: 900;
}
.HomeComponent  .about-more {
    margin-top: 60px;
    width: 100%;
}
.HomeComponent  .about-more-link {
    text-decoration: none;
    color: white;
    font-size: 22px;

    border: 2px solid rgb(151, 0, 3);
    padding: 15px 30px 15px 30px;
    background-color: rgb(151, 0, 3);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: 600;
}


#scrollToTop {
    border: 2px solid black;
    width: 10%;
    color: red;
    height: 7vh;
    border-radius: 10px;
    font-size: 15px;
}

 /* --------------------------------------- quick links --------------------------------- */ 


.Quick-links-component {
    width: 100%;
    height: fit-content;
}

.Quick-links-component-in {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

.quick-link-one {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 4rem 0rem;
    gap: 2rem;
}

.quick-link-two {
    width: 25%;
    height: fit-content;
}

.quick-link-one-in, .quick-link-three-in , .quick-link-four-in  {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    height: fit-content;
}

.quick-link-two-in {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 25%;
}

.quick-link-one-in h1, .quick-link-two-in h1, .quick-link-three-in h1, .quick-link-four-in h1  {
    font-size: 1.5rem;
    color: rgb(152, 23, 24);
}

.quick-more {
    font-size: 1rem;
    color: rgb(43, 41, 41);
    text-decoration: none;
}


.quick-link-two-one h1 {
    font-size: 2.5rem;
}


.qu-link-cm {   
    color: rgb(56, 54, 54);
    font-size: 1.2rem;
    text-decoration: none;
}

.qu-link-cm:hover {
    text-decoration: underline;
    color: black;
}


/* ------------------------------------ stories ------------------------------- */
.stories {
    background-color: rgb(246, 246, 246);
    padding: 2rem 0rem;
}

.stories-header-in {
    text-align: left;
    width: 90%;
    margin: auto;
}
.stories-header-in h1 {
    color: black;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}
.stories-header-in p {
    font-size: 1.5rem;
    color: rgb(151, 0, 3);
}

.stories-one-in {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 3rem 0rem;
}
.stories-comps {
    width: 32%;
    border: 1px solid grey;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.stories-comps-in-one img {
    width: 100%;
    display: block;
    /* making image to cover the entire div */
    object-fit: contain;
    border-radius: 0.5rem;
    height: 100%;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.stories-comps-in-one {
    border-radius: 0.5rem;
    height: fit-content;
}

.stories-comps-in-two {
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 3rem 0rem;
    position: relative;
}

.stories-comps-in-two-in {
    width: 90%;
    margin: auto;
    text-align: left;
    padding-bottom: 2rem;
}

.stories-links {
    /* making this to stick to the bottom of the div - bottom:0 */
    position: absolute;
    bottom: 0;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    
}

.stories-viewmore-link {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    background-color: rgb(151, 0, 3);
    color: white;
}

.stories-viewmore {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* ---------------------------------  news ------------------------------- */
.news {
    padding: 3rem 0rem 5rem 0rem;
}
.news-in {
    width: 90%;
    margin: auto;
}
.news-header-in {
    width: 90%;
    margin: auto;
    padding: 0rem 0rem 2rem 0rem;
}
.news-header-in h1 {
    font-size: 3rem;
}
.news-main {
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}
.news-one {
    width: 49%;
}
.news-one-in {
    position: relative;
}
.news-one-in img {
    width: 100%;
    height: auto;
    display: block;
}

.news-one-in-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.news-one-in-desc p:nth-child(1) {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    font-weight: 600;
}
.news-one-in-desc p:nth-child(2) {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 0.5rem;
}
.news-one-in-desc p:nth-child(3) {
    font-size: 1rem;
    color: white;
}































@keyframes animate{
    
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.post-slides {
    background-color: rgb(151, 0, 3);
    color: white;
    border: 1px solid rgb(151, 0, 3);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#poss {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.glance {
    padding-top: 40px;
    padding-bottom: 90px;
}
.glance-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
}

.glan {
    width: 23%;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
    border-bottom: 5px solid rgb(151, 0, 3);
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.glan:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.3s ease-in-out;
    background-color:whitesmoke;
    border-bottom: 10px solid rgb(151, 0, 3);
}
.glan:hover img {
    rotate: 10deg;
    transition: 0.5s ease-in-out;
    width: 95%;
}

.glan img {
    width: 100%;
}

.glan p {
    text-align: center;
    width: 90%;
}





.about-heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.about-heading h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(151, 0, 3);
    width: 80%;
    margin: auto;
}

.about-two {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.about-two-cmn {
    width: 30%;
}
.counter {
    font-size: 40px;
    font-weight: 900;
}
.about-more {
    margin-top: 60px;
    width: 100%;
}
.about-more-link {
    text-decoration: none;
    color: white;
    font-size: 22px;

    border: 2px solid rgb(151, 0, 3);
    padding: 15px 30px 15px 30px;
    background-color: rgb(151, 0, 3);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: 600;
}



#scrollToTop {
    border: 2px solid black;
    width: 10%;
    color: red;
    height: 7vh;
    border-radius: 10px;
    font-size: 15px;
}


 
 
.exp {
    text-decoration: none;
    color: grey;
}
.material-symbols-outlined {
    position: absolute;
    margin-left: 5px;
    color: grey;
}
 



.socialmedia {
    display: flex;
}

.slider img {
    animation: scroll 40s linear infinite;
    width: 100%;
    border: 1px solid black;
  }
  
  .slider  .slide-track {
    width: 500%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
 .slider {
    margin-top: 70px;
    overflow: hidden;
    padding-bottom: 50px;
    width: 80%; 
    margin: auto; 
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
}




/* --------------------------- working still ---------------------------- */

.workingstill {
    padding: 2rem 0rem;
}
.workingstill-in {
    width: 90%;
    margin: auto;
}
.workingstill-in img {
    width: 100%;
    display: inline-block;
}
  




.joinus {
    background-color: whitesmoke;
    padding: 40px 0px 70px 0px;
}
.joinus-inner h1 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 80%;
    margin: auto; 
    padding: 40px 0px 40px 0px;
}
.joinus a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}













.faq {
    background-color: #f9f9f9;
    padding: 2rem 0rem 4rem 0rem;
  }
.faq-one-in {
    width: 90%;
    margin: auto;
    text-align: left;
}
.faq-two-in {
    width: 90%;
    margin: auto;
}
.faq-qsn {
    text-align: left;
    padding: 1rem 0rem 0.4rem 0rem;
    border-bottom: 1px solid black;
    /* background-color: rgb(234, 234, 234); */
    margin-top: 0.3rem;
}
.faq-qsn p {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.faq-qsn:hover {
    cursor: pointer;
}
.faq-ans {
    background-color: rgb(151, 0, 3);
    padding: 1rem;
    text-align: left;
}
.faq-ans p {
    color: white;
}
.faq-two {
    margin-top: 1rem;
}


/* ----------------------------------------- officers ---------------------------- */
.officers {
    padding: 4rem 0rem 0rem 0rem;
}
.officers-in {
    width: 90%;
    display: flex;
    margin: auto;
}
.officers-in-one {
    width: 50%;
}

.leadership-link {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(151, 0, 3);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(151, 0, 3);
    color: white;
    margin-top: 1rem;
}

.officers-in-one-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.officers-in-one-in h1 {
    font-size: 4rem;
}
.officers-in-one-in p{
    width: 90%;
    font-size: 1.3rem;
    margin: 2rem 0rem;
}
.officers-in-two {
    width: 50%;   
}

.officers-in-two-in {
    display: flex;
    justify-content: space-around;
}

 .profile-card {
    background-color: #fff;
    max-width: 47%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

.profile-card img {
    max-width: 100%;
}

.profile-card h2 {
    margin-top: 10px;
    font-size: 24px;
}

.profile-card p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

  




/* ----------------------------------------- follow ---------------------------------- */
.follow {
    background-color: white;
    padding: 2rem 0rem 4rem 0rem;
}
.follow-header-in {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow-header-in h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 80%;
    margin: auto; 
    padding: 40px 0px 40px 0px;
}

.follow-header-one-in {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.follow-comps {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid lightgrey;
    padding: 1rem;
    border-radius: 1rem;
}
.follow-comps-inner {
    display: flex;
    flex-direction: column;
}
.follow-comps-one-in {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.follow-comps-one-in img {
    width: 20%;
}
.follow-comps-two {
    text-align: left;
    padding-bottom: 2rem;
}
.follow-comps-two h1 {
    font-size: 2rem;
    margin: 1rem 0rem;
}
.follow-comps-two p {
    font-size: 1rem;
}

.follow-comps-three {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.follow-comps-three a {
    text-decoration: none;
    border: 1px solid lightgrey;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: black;
}

@media (min-width: 320px) and (max-width: 480px) { 
    .HomeComponent {
        overflow: hidden;
    }
    
     
      .bind {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
    }
    .bind h1 {
        font-size: 30px;
    }

   
    .box {
        background-color: rgb(151, 0, 3);
        border: 1px solid rgb(151, 0, 3);
        position: absolute;
        bottom: -11px;
        width: 100%;
        padding: 3px 0px 3px 0px;
    }
    .box p {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        display: inline;
    }
    .box i {
        color: white;
        margin-left: 10px;
        display: inline; 
    }
   
    



    .HomeComponent  .about {
        padding: 10px 0px 100px 0px;
        opacity: 0.9;
        background-color: whitesmoke;
    }
    .HomeComponent  .about-heading h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
    }


    .HomeComponent  .about-heading h3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        font-weight: 400;
        color: rgb(151, 0, 3);
        width: 80%;
        margin: auto;
    }

    .HomeComponent  .about-two {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .HomeComponent  .about-two-cmn {
        width: 30%;
    }
    .HomeComponent .about-two-cmn h2 {
        color: black;
        font-size: 15px !important;
    }
    .HomeComponent  .counter {
        font-size: 15px;
        font-weight: 900;
    }
    .HomeComponent  .about-more {
        margin-top: 60px;
        width: 100%;
    }
    .HomeComponent  .about-more-link {
        text-decoration: none;
        color: white;
        font-size: 14px;
        border: 2px solid rgb(151, 0, 3);
        padding: 15px 30px 15px 30px;
        background-color: rgb(151, 0, 3);
        border-radius: 10px;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        font-weight: 600;
    }

    

    .joinus {
        background-color: whitesmoke;
        padding: 40px 0px 70px 0px;
    }
    .joinus h1 {
        font-size: 50px; 
        font-family: 'Poppins', sans-serif;
        color: black;
        width: 80%;
        margin: auto; 
        padding: 40px 0px 40px 0px;
    }
    .joinus a {
        text-decoration: none;
        color: white;
        background-color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
    }

    .slider {
        display: none !important;
    }
}