.SIDScoreComponent {
    width: 80%;
    background-color: whitesmoke;
}

.SIDScoreContainer {
    padding: 10px;
}
.SIDS-heading {
    background-color: orangered;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.SIDS-heading span {
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.SIDS-one table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}


.SIDS-one table td {
    background-color: white;
    padding: 7px !important;
}

