.CalendarComponent .Calendar-one {
    width: 80%;
    margin: auto; 
    margin-top: 100px;
    margin-bottom: 100px;
}
/* Calendar.css */
.Calendar-pre {
  background-color: rgb(151, 0, 3);
  padding: 30px 0px 30px 0px;
  color: white;
}
.fc-event {
  background-color: rgb(151, 0, 3);
  padding: 10px;
  color: white;
  border: 1px solid black;
}
.fc-event:hover {
  background-color: rgb(0, 0, 0);
}
.fc-daygrid-day {
  border: 1px solid black !important;
}

.fc-scrollgrid-section-header {
  background-color: black;
  color: white;
}
.clicked-event {
  background-color: rgb(0, 0, 0);
}
.current-date {
  background-color: blue;
  color: white;
}
