.confirmComponent  .confirmContainer {
    margin-top: 10%;
}
.confirmComponent  .confirmPost {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;

}
.confirmComponent  .confirmPost-one {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;
    background-color: whitesmoke;

}
.confirmComponent  .confirmPost-two {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
    background-color: whitesmoke;
}
.confirmComponent  .confirmPost-one-img img {
    width: 50%;
}
.confirmPost-one-text {
    font-family: 'Josefin Sans', sans-serif;
}
.confirmComponent  .confirmPost-one-two {
    font-family: 'Josefin Sans', sans-serif;
}
.confirmComponent  .confirmPost-two-img img {
    width: 50%;
}
.confirmComponent  .confirmHeading {
    margin-bottom: 60px;
}
.confirmComponent  .confirmHeading h1 {
    font-family: 'Josefin Sans', sans-serif;
}
.confirmComponent  .confirmlinks {
    text-decoration: none;
}
.confirmComponent  .confirmlinks h1 {
    color: black; 
    font-weight: 400;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
