.svrRegisterContainer {
    width: 60%;
    margin: auto; 
    margin-bottom: 50px;
    margin-top: 150px;
}
.formSection-one input {
    float: left;
}
.error {
    color: red;
    font-size: 10px;
  }
  
.formHeading {
    background-color: rgb(151, 0, 3);
    color: white;
    border: 1px solid black;
}
.svrRegisterContainer input {
    width: 90%;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
}
.svrRegisterContainer label  {
    color: black;
    float: left;
    font-weight: 700;
    margin-bottom: 10px;
}

.svrRegisterContainer span {
    color: red;
}
.svrRegisterContainer select {
    display: block;
    width: 90%;
    padding:5px;
}

.formSection-one {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.idnoClass {
    width: 50%;
}
.nameClass {
    width: 50%;
}
.genderClass, .branchClass {
    width: 50%;
}

.mobileClass, .parentClass, .primaryMailClass, .residencyClass, .StateClass, .DistrictClass {
    width: 50%;
}

.svrRegisterContainer form {
    border: 2px solid black;
    padding: 10px;
}

.InterestClass {
    width: 100%;
}

.svrRegisterContainer button {
    width: 30%;
    padding: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .svrRegisterContainer {
        width: 95%;
        margin: auto; 
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .svrRegisterContainer button {
        width: 80%;
    }
    .formSection-one {
        display: unset;
        column-gap: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
    }

.idnoClass {
    width: 100%;
}
.nameClass {
    width: 100%;
}
.genderClass, .branchClass {
    width: 100%;
}

.mobileClass, .parentClass, .primaryMailClass, .residencyClass, .StateClass, .DistrictClass {
    width: 100%;
}
.formSection-one input {
    float:none;
}

    .svrRegisterContainer h1 {
        color: white;
        font-size: 20px;
    }
    .svrRegisterContainer p {
        font-size: 12px;
    }
 }