.SIDProfileComponent {
    width: 80%;
    background-color: whitesmoke;
}
.SIDProfileContainer {
    padding: 15px;
}

.SIDProfileHeading {
    background-color: orange;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.SIDProfileHeading span {
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.SIDProfileMain {
    display: flex;
}
.SIDProfile-one {
    width: 0%;
}
.SIDProfile-one img {
    width: 100%;
}
.SIDProfile-one {
    text-align: justify;
}
.SIDProfile-one span {
    color: red;
}

.SIDProfile-two {
    width: 100%;
}

.SIDProfile-two table {
    width: 100%;
    margin-top: 10px;
}

.SIDProfile-two table > tr > td:first-child {
    background-color: white;
    color: black;
    width: 40%;
    text-align: left;
}

.SIDProfile-two table > tr > td:nth-child(2) {
    background-color: white;
    width: 100%;
    text-align: left;
}