* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home-Component {
    width: 100%;
    height: fit-content;
}

.Home-Component-in {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    background-color:rgb(151, 0, 3);
    color: white;
}

.homeNav-logo h1 {
    color: white;
    font-size: 1.3rem;
}

.home-nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: none;
}