.overviewComponentThree {
    width: 100%;
    padding: 20px 0px 30px 0px;
}
.overviewComponentThree-container {
    width: 90%;
    margin: auto;
}



.overviewComponentThree-header {
    padding: 20px 10px 20px 10px;
    background-color: rgb(220, 218, 218);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 10px 0px 10px 0px;
}
.overviewComponentThree-header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.overviewComponentThree-container {
    display: flex;
}
.overviewComponentThree-container-in-cmn {
    align-items: center;
    justify-content: start;
    width: 100%;
}
.octoh-cmn {
    padding: 10px 10px 10px 10px;
    background-color: rgb(220, 218, 218);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 10px 0px 10px 0px;
    width: 95%;
}

.overviewComponentThree-one-one {
    width: 100%;
}
.overviewComponentThree-one-header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}