@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.LeadershipContainer {
    padding-top: 3rem;
}

.LeadershipComponent {
    height: fit-content;
    width: 100%;
}

.Leadership-one {
    padding: 6rem 0rem;
    background-color: whitesmoke;
}
.Leadership-one-in {
    width: 90%;
    margin: auto;
    text-align: left;
}
.Leadership-one-in h1 {
    font-size: 3rem;
}
.Leadership-one-in p {
    font-size: 2.0rem;
    color: grey;
    width: 70%;
}
.lstcmn h1 {
    font-size: 2rem;
}
.lstcmn-body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    width: 90%;
    margin: auto;
    row-gap: 1rem;
    padding: 3rem 0rem;
}

.Leadership-two {
    padding: 2rem 0rem;
}

.Leadership-two-one-body .profile-card {
    width: 24%;
    border: 1px solid grey;
    padding: unset;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lstcmn {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    border-bottom: 2px solid grey;
}


.lstcmn h1 {
    margin-right: 1rem;
}
.profile-card-img {
    width: 100%;
}
.profile-card-img img {
    width: 100%;
    border-radius: 1rem;
}


.profile-card-one {
    min-height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 1rem;
}

.profile-card-one h2 {
    font-size: 1.4rem;
}

.profile-card-one p {
    font-size: 1.2rem;
    color: grey;
}

.leadership-card-knowmore {
    margin-top: 1rem;
}

.profile-card-leadership-link {
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    border-radius: 0.4rem;
    padding: 0.3rem 0.6rem;
}












.Leadership-two-two-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    column-gap: 1rem;
}
.Leadership-two-two-body .profile-card {
    width: 19%;
    border: 1px solid grey;
    padding: unset;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Leadership-two-two-body .profile-card img {
    width: 100%;
    border-radius: 1rem;
}

.council-members-profile-one-know-more {
    margin-top: 1rem;
}


.council-members-profile-one {
    min-height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 1rem;
}





.Leadership-two-three {
    display: none;
}


.Leadership-two-three-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    column-gap: 1rem;
}

.Leadership-two-three-body .profile-card{
    width: 19%;
    border: 1px solid grey;
    padding: unset;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.Leadership-two-three-body .profile-card img {
    width: 100%;
    border-radius: 1rem;
}
