.SIDashBoardHomeComponent {
    width: 80%;
    background-color: whitesmoke;
}


.SIDH-inner {
    display: flex;
    padding: 15px;
}
.SIDH-one {
    width: 70%;
}
.SIDH-two {
    width: 30%;
    padding: 0px 15px;
    overflow: hidden;
}

.SIDH-one-one {
    border: 1px solid tomato;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: tomato;
    border-radius: 6px;
}
.schedule {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.scheduleHeading {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}
.scheduleHeading {
    font-size: 25px;
    font-weight: 600;
}
.schedule-one {
    width: 100%;
    background-color: white;
    border-radius: 7px 7px 0px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.schedule-one-child {
    padding: 20px 10px 20px 10px;
}
.schedule-one {
    display: flex;
    justify-content: space-evenly;
}


.schedule-two {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 0px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.schedule-two-child {
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.schedule-two-child span {
    font-size: 14px;
    padding: 10px 3px 10px 3px;
}
.schedule-two-child:first-child {
    background-color:turquoise;
}
.schedule-two-child:nth-child(2) {
    background-color:antiquewhite;
}
.schedule-two-child:nth-child(3) {
    background-color:antiquewhite;
}
.schedule-two-child:nth-child(4) {
    background-color:lightblue;
}
.schedule-two-child:nth-child(5) {
    background-color:lightblue;
}
.schedule-two-child:nth-child(6) {
    background-color:lightblue;
}
.schedule-two-child:nth-child(7) {
    background-color:lightblue;
}
.schedule-two-child:nth-child(8) {
    background-color:lightblue;
}
.schedule-two-child:nth-child(9) {
    background-color:lightblue;
}
.schedule-two-child:nth-child(10) {
    background-color:lemonchiffon;

}
  

.SIDH-one-one span {
    text-align: left;
    margin-bottom: 30px;
}

.SIDH-one-one-link {
    text-decoration:none;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 4px;
}

.SIDH-one-one-two img {
    width: 100%;
}

.SIDH-two-one {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.SIDH-two-one:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#dname {
    font-size: 13px;
}

.ut-heading {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 10px;
}
.ut-heading span {
    font-size: 25px;
    font-weight: 600;
}

.ut-tasks {
    display: flex;
    background-color: lightgray;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 7px;
}
.utt-one {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    color: white;
    border-radius: 3px;

}
.utt-two {
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
    padding: 5px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}


.ut-tasks:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.stats-one {
    display: flex;
    margin-top: 10px;
}

.stats-one-one {
    display: flex;
    background-color:dodgerblue;
    width: 50%;
    border-radius: 8px;
}

.stats-one-one:first-child {
    margin-right: 5px;
}
.stats-one-one:nth-child(2){
    margin-left: 5px;
}
.stats-one-one-one {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.stats-one-one-one span {
    font-size: 3vw;
    color: azure;
}

.stats-one-one-two {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.stats-one-one-two span {
    font-size: 13px;
    color: whitesmoke;
    font-weight: 600;
}

.stats-one-one-two h4 {
    color: white;
}


.reportssub-one {
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.reportssub-one-one {
    padding: 20px 10px 20px 10px;
}

.reportssub-two {
    display: flex;
    justify-content: space-evenly;
    background-color:lightyellow;
    border-radius: 0px 00px 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.reportsub-two-one {
    padding: 20px 10px 20px 10px;
}


.reportssubHeading {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}
.reportssubHeading {
    font-size: 25px;
    font-weight: 600;
}