    .NavBarComponent {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: background-color 0.5s ease-in-out;
        z-index: 9999;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .NavBar-desc {
        background-color: rgb(151, 0, 3);
        border: 1px solid rgb(151, 0, 3);
    }


    .NavBar-desc p {
        margin: 5px 0px 5px 0px;
        color: white;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .NavBar-desc a {
        margin: 5px 0px 5px 0px;
        color: white;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        font-weight: 600;
    }


    .NavBar-inner {
        display: flex;
        z-index: 99999999999;
    }
    .logo {
        width: 25%;
    }
    .logo img {
        width: 50%;
        margin-left: 20%;
    }
    
    .index {
        width: 50%;
        position: relative;
    }
    .index-inner {
        display: flex;
        justify-content: center;
        margin-top: 17px;
        justify-content: space-around;
    }
    .links {
        text-decoration: none;
        color: black;
        padding: 5px 0px 10px 0px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    
    .links:hover {
        padding: 5px 0px 30px 0px;
    }
    .post-index {
        color: black;
    }
    .post-index a {
        color: black;
        position: absolute;
        margin-top: 15px;
    }




    .NavBar-two {
        position: absolute;
        background-color: white;
        margin-top: 2px;
        width: 60%;
        margin-left: 12%;
        border-top: 3px solid rgb(151, 0, 3);
        padding: 10px 20px 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 999999;
        display: none; 
        position: relative;
    }
    .post-index {
        width: 25%;
    }


    .dialogue {
        width: 80%;
    }
    #notif {
        margin-top: 10px;
        position: absolute;
        right: 30px;
    }
    #dig-img {
        width: 20%;
        display: inline;
    }




    .search-click {
        border: 1px solid #ccc;
        outline: none;
        background-size: 22px;
        background-position: 13px;
        border-radius: 10px;
        width: 50px;
        transition: all 0.5s;
        padding: 10px;
        width: 25%;
        margin-top: 7px;
        position: absolute;
    }
    .search-click:focus {
        width: 300px;
        padding-left: 50px;
    }
    .search-click {
        position: relative;
        overflow: hidden;
    }
    .search-click input {
        background: transparent;
        border: 1px solid #ccc;
        outline: none;
        position: absolute;
        width: 300px;
        padding: 10px;
    }

        .test {
            position: absolute;
            margin-top:20px;
            width: 200%;
            margin-left: 10%;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            margin-left: -70%;
            z-index: -1;
        }



        #dropd {
            color: grey; 
            position: absolute;
            margin-left: 4px;
           
        }

        





        /* quick links */
        .NavBarComponent .quicklinks {
            display: flex;

        }
        .NavBarComponent .quicklinks-inner {
            display: flex;
            padding: 10px 0px 0px 15px;
            margin-left: 0%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 10px -100px inset, rgba(0, 0, 0, 0.4) 0px 1px 36px -18px inset;
            /* margin-top: 10px; */
            background-color: white;
            border-top: 3px solid rgb(151, 0, 3);
            width: 100%;
            
        }

        .NavBarComponent .quicklinks-inner h3 {
            font-weight: 700;
            color: rgb(151, 0, 3);
            /* background-color: black;  */
            padding: 10px;
            font-family: sans-serif;
        }

        .NavBarComponent .quicklinks-inner li {
            list-style: none;
            text-align: left;
            margin: 5px 5px 5px 10px;
            color: black; 
            font-weight: 500;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .NavBarComponent .quicklinks-inner ul {
        }
        .NavBarComponent .qls {
            text-decoration: none;
            font-size: 19px;
            color: black;

        }
        .NavBarComponent .qls:hover {
            color: rgb(151, 0, 3);
            margin-left: 5%;
            transition: 0.5s ease-in-out;
        }
        .NavBarComponent .quick-image {
            text-align: center;
            width: 0%;
            /* margin-top: 10px; */
            background-color: white;
            border-top: 3px solid rgb(151, 0, 3);
        }
        .NavBarComponent .quick-image h1 {
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            margin-top: 40%;
        }
        .NavBarComponent .exp {
            text-decoration: none;
            color: grey;
        }
        .NavBarComponent .material-symbols-outlined {
            position: absolute;
            margin-left: 5px;
            color: grey;
        }
        .NavBarComponent .quick-image img {
            width: 100%;
            margin-top: 150px;
        }
        .quick-one {
            width: 40%;
        }
        .quick-one ul {

        }
        .quick-one li {

        }
        .quick-two {
            width: 20%;
        }
        .quick-three {
            width: 20%;
        }
        .quick-four {
            width: 20%;
        }


        .homee:hover .test{
            display: block;
        }

.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 100px;

  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover #dropd {
    transform: rotate(-540deg);
    transition: 0.4s ease-in-out;
    margin-top: 7px;
    color: grey;

  }



  
  .dropdown2 {
    position: relative;
    display: inline-block;
    background-color: white;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    border-top: 3px solid rgb(151, 0, 3);
    margin-top: 19px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .dropdown-content3 {
    min-width: 200px;
  }
  .dropdown-content2 .stu-links {
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 5px;
    color: black;
    border-bottom: 0.6px solid black;
    margin: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .dropdown-content1 {
    min-width: 180px;
  }

.material-symbols-outlined {
    display: none;
}
  .dropdown-content2 a:hover {
    background-color: rgb(151, 0, 3); color: white;
    font-weight: 600;
}
  
  .dropdown2:hover .dropdown-content2 {display: block;}


  .dropdown2:hover #dropd {
    transform: rotate(-540deg);
    transition: 0.4s ease-in-out;
    margin-top: 7px;
    color: grey;
  }
  .open {
    float: right;

  }
  .fa-external-link-square {
    display: none;
  }

  .stu-links:hover .open{
    display: none;
  }
  .stu-links:hover .fa-external-link-square {
    display: inline-block;
    float: right;
  }

  
  #innerdrop {
    margin-left: -20px;
    list-style:circle;
  }
  #innerdrop li {
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    border-left: 5px solid rgb(151, 0, 3);
    padding-left: 10px;
  }
  





  @media (min-width: 320px) and (max-width: 480px) {

    NavBarComponent {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transition: background-color 0.5s ease-in-out;
        z-index: 9999;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .NavBar-desc {
        width: 100%;
        background-color: rgb(151, 0, 3);
    }
    .NavBar-desc p {
        margin: 5px 0px 5px 0px;
        color: white;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
    }

    .NavBar-desc a {
        margin: 5px 0px 5px 0px;
        color: white;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        font-weight: 600;
    }
    
    .NavBar-inner {
        height: 0vh;
        display: none;
    }

}    
